@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fortawesome/fontawesome-free/css/all.min.css";

/* html, bodyで縦スクロールの無効化*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: auto; /* 横スクロールを有効*/
  overflow-y: hidden; /* 縦スクロールを無効*/
}

/*　mainタグの高さを100%にしてページ全体を1画面内に収める*/
.motion-main {
  height: 100vh; /* ビューボード全体の高さを占める*/
  overflow: hidden; /* 内容がはみ出してスクロールするのを防ぐ*/
}

/* セクションをスクリーン全体に合わせる*/
/* section {
  height: 100vh; /* 各セクションが1画面を占める*/
  /* overflow: hidden; セクション内の内容がはみ出さないように */
/* } */
